@import "../../../common/styles/sass/variables";

.skill {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 48%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  .iconBox {
    width: 24px;
    margin-right: 10px;

    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .html5 {
      background-image: url("../../../assets/icons/icon-html5.svg");
    }

    .css3 {
      background-image: url("../../../assets/icons/icon-css3.svg");
    }

    .js {
      background-image: url("../../../assets/icons/javascript.svg");
    }

    .react {
      background-image: url("../../../assets/icons/react.svg");
    }

    .redux {
      background-image: url("../../../assets/icons/redux.svg");
    }
    .eslint{
      background-image: url("../../../assets/icons/eslint.svg");
    }
    .git{
      background-image: url("../../../assets/icons/git.svg");
    }
    .gitHub{
      background-image: url("../../../assets/icons/github.svg");
    }
    .ts{
      background-image: url("../../../assets/icons/typescript.svg");
    }
    .jest{
      background-image: url("../../../assets/icons/jest.svg");
    }
    .storybook{
      background-image: url("../../../assets/icons/storybook.svg");
    }
  }

  .description {
    width: 90%;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: $textLight;
    }
  }
}
