.projectsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 1129px) {
  .projectsList {
    justify-content: space-evenly;
  }
}
